.chatPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}

.animatedContainer {
  display: flex;
  width: 100%;
  height: calc(90vh - 4rem);
  justify-content: center; 
  align-items: center;
  background: #ffffff;
  overflow-y: scroll;
}

.animatedContainer::-webkit-scrollbar {
  width: 5px;
}

.animatedContainer::-webkit-scrollbar-track {
    background: transparent;
}

.animatedContainer::-webkit-scrollbar-thumb {
  background: var(--text-light);
  border-radius: 4px;
}
