.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 5%;
}

.title {
    font-weight: 600;
    color: var(--text-main);
}

.subtitle {
    color: var(--text-light);
}

.suggestions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem;
    gap: 1rem;
}

.suggestion {
    border: 1px solid var(--text-light);
    border-radius: 2rem;
    padding: .5rem .75rem;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        color: white;
        background: var(--text-main);
    }
}