.formContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 10vh;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff00, #ffffff);
}

.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 30vw;
  position: fixed;
  bottom: 3rem;
  background: white;
  border-radius: 2rem;
  padding: 0.3rem;
  border: 1px solid var(--text-main);
}

.input {
  flex: 1;
  min-height: 1.5rem;
  max-height: 100px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  overflow-y: auto;
  outline: none;
  font-size: 1rem;
  line-height: 1.3rem;
}

.input:empty:before {
  content: attr(placeholder);
  color: gray;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text-main);
  color: white;
  cursor: pointer;
  border: none;
}
